<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ block "main" . }}{{ end }}
    {{ $js := resources.Get "js/main.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
  </body>
</html>

