body {
  @apply font-sans text-gray-100 bg-gray-800;
}

a:hover {
  @apply underline;
}

.sz-link {
  @apply text-indigo-400;

  &:hover {
    @apply underline;
  }
}

.sz-flatten-p {
  p {
    @apply my-0;
    & + p {
      @apply mt-2;
    }
  }
}

.sz-logo {
  width: 140px;
  height: 140px;
  @apply flex items-center justify-center;
  pre {
    font-size: 3px;
    @apply bg-transparent;
  }
  @apply p-0;
  @apply bg-gray-100 text-gray-800;
  @apply overflow-hidden;
  @apply rounded-full;
  @apply border;
  @apply flex-none;
}

.s-4 {
  @apply inline-block w-4 h-4;
}

.svg-link {
  @apply s-4 text-gray-500;

  &:hover {
    @apply text-indigo-400;
  }
}
