<footer class="my-6 text-xs">
  <div class="flex justify-around">
    <div class="text-left flex-1">
      <div>License</div>
      <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons - CC BY 3.0</a>
    </div>
    <div class="text-center flex-1">
      <a href="{{ .Site.Params.repository }}" class="svg-link">{{ partial "fontawesome.html" "brands/gitlab" }}</a>
    </div>
    <div class="text-right flex-1">
      &copy; {{ now.Format "2006" }} <a href="https://souldzin.com">Paul Slaughter</a>
    </div>
  </div>
</footer>
