<div class="flex justify-around mt-1">
  {{- $gitlab_prof_url:= print "https://gitlab.com/" .gitlab_prof }}
  {{- $gitlab_url:= print "https://gitlab.com/" .gitlab }}
  {{- $github_url:= print "https://github.com/" .github }}
  {{- $twitter_url:= print "https://twitter.com/" .twitter }}
  <a href="{{ $gitlab_prof_url }}" class="svg-link">
    {{ partial "fontawesome.html" "brands/gitlab" }}
  </a>
  <a href="{{ $gitlab_url }}" class="svg-link">
    {{ partial "fontawesome.html" "brands/gitlab" }}
  </a>
  <a href="{{ $github_url }}" class="svg-link">
    {{ partial "fontawesome.html" "brands/github" }}
  </a>
  <a href="{{ $twitter_url }}" class="svg-link">
    {{ partial "fontawesome.html" "brands/twitter" }}
  </a>
  <a href="#" class="svg-link js-email" style="display: none; position: absolute;">
    {{ partial "fontawesome.html" "solid/envelope" }}
  </a>
</div>
