{{ define "main" }}
  <div>
    <div class="px-2 pb-6 mx-auto max-w-3xl sz-content text-center">
      Oops... This page was not found. Try going back to the <a href="{{ .Site.BaseURL }}">home page</a>.
    </div>
  </div>
{{ end }}

