{{ define "main" }}
  <div class="p-2 mx-auto max-w-2xl">
    {{ partial "logo_header.html" . }}
    <div class="sz-content mb-8">
      {{ .Content }}
    </div>
    {{ partial "footer.html" . }}
  </div>
{{ end }}

