{{ $projectKey := .Get "name" }}
{{ $project := index .Site.Data.projects $projectKey }}
<div class="m-4 border rounded-lg overflow-hidden h-24 bg-white">
  <a class="block w-full h-full flex items-center justify-center" href="{{ $project.url }}">
    <div class="mx-16 sm:mx-32 overflow-hidden">
      <img src="/{{ $project.img }}" alt="{{ $project.name }}" />
    </div>
  </a>
</div>

