{{ $src := .Get "src" }}
{{ $title := .Get "title" }}
{{ $slidesHref := .Get "slides-href" }}
{{ $channelHref := .Get "channel-href" }}
<div class="mx-auto mb-4" style="width: 400px">
    <h3>
        {{ $title }}
        {{ if $slidesHref }}
            <a href="{{ $slidesHref }}">(Slides)</a>
        {{ end }}
        {{ if $channelHref }}
            <a href="{{ $channelHref }}">(Channel)</a>
        {{ end }}
    </h3>
    <div class="flex justify-center">
        <iframe width="400" height="225" src="{{ $src }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>